
.q-topic {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 400;
}

.q-card-view {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  border: 1px rgba(0, 0, 0, 0.1) solid !important;

  .card-header {
    border: 1px rgba(30, 0, 11, 0.1) solid !important;
    padding: 1rem 1.5rem !important;
  }

  .card-body {
    margin-top: 1rem;
  }
}

.userManage {

  .filterName {
    padding: 10px 5px;
  }

  .tbl-userDetails {
    margin-top: 2rem;
  }

  .btn-wrapper {

  }

}