@import "./src/assets/sass/colors";


.onlineApplication {
  background-color: whitesmoke;

  .card {
    margin: 4rem 0;
    border: none;

    .application-details-wrapper {
      padding: 2rem;

      h1 {
        font-family: "Roboto Medium";
        font-size: 28px;
        color: $secondary-txt-color;
      }

      h3 {
        color: $primary-color;
        font-size: 24px;
        font-family: Roboto;
      }

      .txt-topic {
        font-family: "Roboto Medium";
        font-size: 24px;
        color: $secondary-txt-color;
        font-weight: 500;
      }

      .yourDetails {
        margin: 2rem 0;

        .details-wrapper {
          margin: 2.5rem 0;

          .type-row {
            margin: 10px 0;

            label {
              font-family: "Roboto Light";
              font-weight: 500 !important;
              font-size: 16px;
            }
          }

          .inp-wrapper {
            .input-filed {
              padding: 0 10px 0 0;
            }

            select {
              width: 90%;
              margin: 0 10px 0 0;
              height: 48px;
              font-family: "Roboto Light";
            }

            button{
              font-family: "Roboto Medium";
              height: 48px;
              font-size: 18px;
              padding: 10px 35px;
            }
            .chk-lbl{
              margin-top: 14px;
              margin-left: 10px;
            }

            .chk-input{
              margin-top: 15px;
              height: 18px!important;
              width: 18px!important;
            }

            textarea{
              height: 150px;
            }
            input {
              font-family: "Roboto Light";
              height: 48px
            }
          }
        }
      }
    }
  }

}