@import "./src/assets/sass/colors";

.footer {
  background-color: white;
  color: $secondary-txt-color;
padding-bottom: 1rem;
  h3 {
    font-size: 20px;
    font-family: "Roboto Medium";
    letter-spacing: 1px;
    color: $secondary-txt-color;
  }

  p {
    padding-top: 2px;
    font-size: 16px;
    font-family: "Roboto Light";
    color: $secondary-txt-color;
    transition: 0.3s ease-in-out;
  }

  p:hover {
    transition: 0.3s ease-in-out;
    letter-spacing: 2px;
    font-weight: 600;
    color: $primary-color;
  }

  .social-media-link{
    svg{
      margin: 0 10px 10px 10px;
    }
  }

}