
.userManage {

  .permission-wrapper {
    margin-top: 20px;

    .chk-bx-wrapper {
      margin: 10px 0
    }
  }

  .filterName {
    padding: 10px 5px;
  }

  .tbl-userDetails {
    margin-top: 2rem;
  }

  .btn-wrapper {

  }

}